<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Avee | Dev Portfolio</title>
		<meta property="og:title" content="Avee | Portfolio">
		<meta property="og:description" content=
		"Hey this is my personal portfolio. U want to learn about me more?!">
		<link rel="shortcut icon" href="/img/logo.png">

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1, maximum-scale=1">

		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>

		<section class="section column-section section-bio">
			<p class="bio">Lorem ipsum dolor sit amet consectetur adipiscing elit, urna consequat felis vehicula class ultricies mollis dictumst, aenean non a in donec nulla. Phasellus ante pellentesque erat cum risus consequat imperdiet aliquam, integer placerat et turpis mi eros nec lobortis taciti, vehicula nisl litora tellus ligula porttitor metus. </p>
            
		</section>
		<footer class="footer main-text main-text-small">
			<a class="footer-links link-twitter" href="#">Discord</a>
			<a class="footer-links link-facebook" href="#">GitHub</a>
			<a class="footer-links link-site">&copy; Avee</a>
			<div class="scrunch" aria-hidden="true"></div>
		</footer>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-89325722-1', 'auto');
			ga('send', 'pageview');
		</script>
	</body>
</html>